.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  &:nth-child(even) {
    background-color: red;
  }

  &:nth-child(odd) {
    background-color: green;
  }
}
