@import './site/variables';
@import './site/mixins';

.header {
  z-index: $z-index-header;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
}

@include breakpoint('xl') {
  .header {
    &__inner {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
