$primary: #1d683e;
$secondary: #3bae51;
$text: #333333;
$light: #a3a3a3;

// z-index
$z-index-header: 1000;
$z-index-down-arrow: 100;
$z-index-navigation: 100;

// Primary color variations
$primary-lighten-10: lighten($primary, 10%);

// Secondary color variations
$secondary-darken-20: darken($secondary, 20%);

// Text color variations
$text-lighten-10: lighten($text, 10%);
$text-saturate-10: saturate($text, 10%);

// Text color variations
$light-lighten-10: lighten($light, 10%);
$light-darken-20: darken($light, 20%);
